.movie-card {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.overlay-title {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding: 1.5rem 1rem;
    color: white;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 0.3s ease, transform 0.3s ease;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.movie-card:hover{
    transform: scale(1.05);
}

.movie-card:hover .overlay-title {
    opacity: 1;
    transform: translateY(0%);
}

.add-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.movie-card:hover .add-btn {
  opacity: 0.9;
  color: aliceblue;
  border-radius: 50%;
  background-color: rgb(56, 60, 63);
}