.movie-card {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.overlay-title {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding: 1.5rem 1rem;
    color: white;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 0.3s ease, transform 0.3s ease;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}


.movie-card:hover .overlay-title {
    opacity: 1;
    transform: translateY(0%);
}

.add-btn {
    position: absolute;
    top: 8px;
    right: 45%;
    background: rgba(87, 87, 87, 0.4);
    z-index: 2;
    border-radius: 50%;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    line-height: 1;
}